* {
  padding: 0px;
  margin: 0px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .center_div {
    @apply flex items-center justify-center;
  }
  .nav_menu_items {
    @apply cursor-pointer hover:scale-105  hover:font-bold hover:bg-clip-text hover:bg-gradient-to-r from-orange-500 to-pink-600 hover:text-transparent;
  }
  .primary_button {
    @apply px-4 py-1 hover:scale-105 text-white border-none rounded shadow-inner hover:border-none bg-gradient-to-r from-orange-500 to-pink-600 hover:text-white transition-all duration-700 ease-in-out cursor-pointer;
  }
  .secondary_button {
    @apply px-4 py-1 rounded-md shadow-inner  border  border-orange-500 hover:border-pink-500 transition-all duration-700 ease-in-out cursor-pointer;
  }
}

/* and override */
.ant-form-item-label > label {
  font-variant: bold !important;
  color: black !important;
}


::-webkit-scrollbar{
    display: none !important;
}